<.header>
  Listing Third dev experiences
  <:actions>
    <.link href={~p"/third_dev_experiences/new"}>
      <.button>New Third dev experience</.button>
    </.link>
  </:actions>
</.header>

<.table id="third_dev_experiences" rows={@third_dev_experiences} row_click={&JS.navigate(~p"/third_dev_experiences/#{&1}")}>
  <:col :let={third_dev_experience} label="Name"><%= third_dev_experience.name %></:col>
  <:col :let={third_dev_experience} label="Description"><%= third_dev_experience.description %></:col>
  <:col :let={third_dev_experience} label="Nb thing"><%= third_dev_experience.nb_thing %></:col>
  <:action :let={third_dev_experience}>
    <div class="sr-only">
      <.link navigate={~p"/third_dev_experiences/#{third_dev_experience}"}>Show</.link>
    </div>
    <.link navigate={~p"/third_dev_experiences/#{third_dev_experience}/edit"}>Edit</.link>
  </:action>
  <:action :let={third_dev_experience}>
    <.link href={~p"/third_dev_experiences/#{third_dev_experience}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
