<.header>
  New Third dev experience
  <:subtitle>Use this form to manage third_dev_experience records in your database.</:subtitle>
</.header>

<.third_dev_experience_form changeset={@changeset} action={~p"/third_dev_experiences"} />

<.back navigate={~p"/third_dev_experiences"}>Back to third_dev_experiences</.back>
