<.header>
  New Static tuesday
  <:subtitle>Use this form to manage static_tuesday records in your database.</:subtitle>
</.header>

<.static_tuesday_form changeset={@changeset} action={~p"/statictuesdays"} />

<.back navigate={~p"/statictuesdays"}>Back to statictuesdays</.back>
